*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
.cointaner{
    max-width: 1200px;
    margin: 0 auto;
}
:root {
	--color-scondary: #ffffff;
	--color-primary: #23272a;
	--color-header-bg: #255ee9;
	--color-section-bg: #f6f6f6;
	--color-contrast: #aebbe7;
}
header{
    background-color: var(--color-header-bg);
    color: var(--color-scondary);
}   
.btn-head{
    padding: 12px 15px;
    border-radius: 25px;
    color: var(--color-primary);
    font-size: 15px;
    border: none;
}
nav.d-flex a {
    color: var(--color-scondary);
    justify-content: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
}
nav.d-flex a:hover{
    text-decoration: underline;
}
footer{
    background-color: var(--color-primary);
    color: var(--color-scondary);
    max-width: 100%;
    padding: 40px 20px 10px;
}
.text-foot{
        color: #7289DA;
        font-size: 20px;
}

body{
    font-family: 'Noto Sans', sans-serif;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 35px;
}
.small-cointaner{
    max-width: 850px;
    margin:0 auto;
    text-align: center;
    padding-top: 130px;
}
#jumbo{
    background-image: url(./discord-assets/jumbo.png);
    background-size: cover;
    min-height: 550px;
}
/* utilityflex */
.d-flex{
    display: flex;
}
.flex-center{
    align-items: center;
    align-content: center;
}
.row-reverse{
    flex-direction: row-reverse;
}
.space-between{
    justify-content: space-between;
}
/* main */
.section-bg{
    background-color: var(--color-section-bg);
}
.left{
    width: 60%;
}
.right{
    width: 40%;
}
.bg-stars{
    background-image:url(./discord-assets/stars.svg);
    text-align: center;
    
}
.left img{
    width: 100%;
}
footer{
    background-color: var(--color-primary);
    color: var(--color-scondary);
    max-width: 100%;
    padding: 40px 20px 10px;
}    


}
footer li img{
    width: 40px;
}
footer li {
    margin-top: 7px;
}
footer div:first-child {
    align-content: flex-start;


}
footer div:last-child button {
    background-color: #7289DA;
    padding: 12px 15px;
    border-radius: 25px;
    font-size: 15px;
    color: var(--color-scondary);
    margin-right: 0px;
    border: none;
}   

footer div:last-child {
    padding: 2px;
    border-top: 2px solid var(--color-contrast);

}
footer li>a {
    color: var(--color-scondary);
    font-size: 13px;
    text-decoration: none;
}
